:root {
  --background-color: #121212; 
  --primary-accent: #d9c4a1; 
  --secondary-accent: #4682b4; 
  --text-primary: #FFFFFF; 
  --text-secondary: #B0B0B0; 
  --shadow-color: #00000077;
  --surface-color: #1E1E1E; 
  --border-color: #373737; 
  --border-color2: #373737; 
  --bg-extra-color:#005577;
  --mount-image: url('./assets/mount4.png');
  --star-image: url('./assets/stars.png');
  --gold:#dccfb9;
  --secondary-accent2: #d9c4a1;

}

.light-theme{
    --background-color: #FFFFFF; 
    --primary-accent: rgb(27, 89, 128);
    --secondary-accent:#4682b4 ; 
    --text-primary: #121212; 
    --text-secondary: #4A4A4A; 
    --shadow-color: #b7d2dc99;
    --surface-color: #F5F5F5; 
    --border-color: #bcbcbc; 
    --border-color2: #e9e9e9;
    --bg-extra-color:#b1c4cb;
    --mount-image: url('./assets/m4.png');
    --star-image: url('./assets/cloud.png');
    --gold:#aa936b;
    --secondary-accent2:#ffffff;
  
  
}
.dark-theme {
  --background-color: #121212; 
  --primary-accent: #d9c4a1;  
  --secondary-accent: #4682b4;
  --text-primary: #FFFFFF; 
  --text-secondary: #B0B0B0; 
  --highlight-color: #FF4081; 
  --surface-color: #1E1E1E; 
  --border-color: #373737; 
  --mount-image: url('./assets/mount4.png');
  --star-image: url('./assets/stars.png');
  --gold:#dccfb9;
  --secondary-accent2: #d9c4a1;
}
* {
  margin: 0;
  padding: 0;

}
.App {
  background-color: var(--background-color);
  overflow: hidden;
  mix-blend-mode: overlay;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar {
  display: none;
}
html {
 
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  font-family: 'Jost',sans-serif;
  scroll-padding-top: 7rem;
  letter-spacing: 0.2px;

}
body{
   
  padding-top: 7rem;
}
::-webkit-scrollbar {
  display: none;
}

section {
  background-image: linear-gradient( var(--bg-extra-color),var(--background-color),var(--background-color));

  height: calc(100vh - 7rem);
  scroll-snap-align: center;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}


 
@media screen and (max-width: 600px) {
  section {
    background-image: linear-gradient(var(--bg-extra-color), var(--background-color), var(--background-color));
    width: 100%;
    scroll-snap-align: center;
    overflow-x: hidden;
    padding-left: 10px;
    padding-right: 10px;
    height: auto; 
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body{
   
    padding-top: 5rem;
  }
}